@import "../Variables.scss";

.MainPage {
	overflow: hidden;

	.FlyingCars {
		position: absolute;
		top: 30vh;

		width: 100vw;

		display: flex;
		flex-direction: column;

		z-index: -15;
		filter: brightness(0.9);

		overflow: hidden;

		> .FlyingCar {
			color: $secondaryBG;

			animation: flyingCar 1.5s infinite steps(200);
			transform: translateX(100vw);

			&:nth-child(even) {
				color: $tertiaryBG;

				transform: scaleX(-1) translateX(200px);
				animation-name: flyingCarReverse;
			}

			@keyframes flyingCar {
				100% {
					transform: translateX(-200px);
				}
			}

			@keyframes flyingCarReverse {
				100% {
					transform: translateX(100vw) scaleX(-1);
				}
			}
		}
	}

	> .StarField {
		position: fixed;
		top: 120vh;

		z-index: -100;
		border-radius: 500px;
	}

	.Background,
	.Background > .Skyline {
		position: absolute;
		width: 100vw;
		height: 420vh;

		pointer-events: none;

		margin-top: -5vh;

		overflow: hidden;
	}

	.Background > .Skyline {
		background-size: 50% 65%;
		background-repeat: repeat-x;

		&:first-child {
			background-size: 50% 65%;
			background-position: -75% 0;

			z-index: -20;
		}

		&:last-child {
			top: 27vh;

			z-index: -10;
		}

		@media screen and (max-width: 700px) {
			background-size: 150% 100%;
			height: 300vh;

			&:first-child {
				background-size: 180% 100%;
			}

			&:last-child {
				margin-top: -17vh;
			}
		}
	}

	.Background > .Rainbow {
		position: absolute;
		width: 100vw;
		height: 100vh;

		background-repeat: no-repeat;

		top: 135vh;
		right: -70vw;
		transform: rotateZ(20deg);

		@media screen and (max-width: 700px) {
			left: 20vw;
		}
	}

	.Background > .Vroom {
		position: absolute;
		width: 100vw;
		height: 100vh;

		background-repeat: no-repeat;
		background-size: 120% 120%;

		top: 320vh;
		left: -30vw;

		@media screen and (max-width: 700px) {
			width: 150vw;
			left: -40vw;
		}
	}

	.Head {
		position: relative;

		flex-direction: column;
		justify-content: flex-start;
		text-align: center;

		min-height: 100vh;
		gap: 15px;
		padding-top: 15vh;

		&::before {
			content: "";

			position: absolute;
			top: 10vh;
			left: 0;
			bottom: 0;
			right: 0;

			opacity: 0.75;

			background: linear-gradient(0deg, $tertiaryBG 0%, transparent 90%);
			z-index: -16;

			transform-origin: bottom center;
			animation: fogPulse 7s infinite steps(50);

			@keyframes fogPulse {
				50% {
					transform: scaleY(1.05);
				}
			}
		}

		.Icon {
			width: 150px;
			height: 150px;

			border-radius: 0 50% 50% 50%;
			box-shadow: 0 2px 12px #0d171d;

			pointer-events: none;
		}

		.Header {
			display: flex;
			flex-direction: column;

			font-size: 2.5em;
			font-weight: bolder;
			max-width: 80vw;

			.MainHeader {
				background: linear-gradient(90deg, $primaryColor 25%, $secondaryColor 75%);

				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;

				font-size: 1.25em;
				font-weight: normal;

				text-transform: uppercase;
				letter-spacing: 0.2ch;
			}

			.Desc {
				color: rgba(white, 0.7);
				font-weight: lighter;
				font-family: monospace;

				margin-top: 20px;
			}
		}

		@media screen and (max-width: 700px) {
			.Header {
				max-width: 90%;
				margin: 0;

				.Desc {
					font-size: 0.8em;
				}
			}
		}
	}
}
