@import "../Variables";

.PaletteBlock {
	position: relative;
	width: max-content;
	transform: translate(0);

	background: $secondaryBG;
	padding: 30px;
	border-radius: 15px;
	overflow: hidden;

	margin: 0 auto;
	margin-top: 20vh;
	max-width: 80vw;

	&:first-child {
		margin-top: 0;
		margin-bottom: 75vh;
	}

	&:last-child {
		margin-bottom: 10vh;
	}

	display: flex;
	flex-direction: column;

	box-shadow: 0 0 12px 5px rgba(black, 0.08);

	> .TitleBarMockup {
		background-color: $tertiaryBG;

		margin: -30px;
		margin-bottom: 20px;
		padding: 10px 15px;

		> .Title {
			font-weight: bolder;
			font-size: 1.1em;

			filter: brightness(1.15);
		}

		> .Buttons {
			margin-left: auto;
			gap: 10px;

			> .Button {
				width: 15px;
				height: 15px;

				border-radius: 50%;

				&.Minimize {
					background: var(--green);
				}

				&.Restore {
					background: var(--yellow);
				}

				&.Close {
					background: var(--red);
				}
			}
		}
	}

	.ImageBlock {
		position: relative;
		width: 100%;
		max-width: 800px;

		overflow: hidden;
		border-radius: 15px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		> .Image {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		> .Author {
			position: absolute;
			top: 20px;
			left: 20px;

			display: block;
			background: var(--secondary-bg);

			padding: 5px 15px;
			border-radius: 100px;
		}
	}

	.Title {
		color: var(--primary-color);
		font-weight: bolder;
		font-size: 1.7em;
	}

	.Description {
		white-space: pre-line;
		font-size: 1.5em;

		max-width: 70vw;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.Blocks {
		border-radius: var(--secondary-border-radius);
		overflow: hidden;

		width: max-content;
		max-width: 75vw;

		display: flex;
		flex-wrap: wrap;
		// justify-content: center;

		.Block {
			font-weight: bolder;
			font-family: monospace;

			font-size: 1.2em;
			text-align: center;

			margin: 7px;

			.ColorContainer {
				position: relative;
				width: 100px;
				height: 100px;

				cursor: pointer;

				> .Color {
					box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
					transition: border-width $ft;

					box-sizing: border-box;
					border: 0 solid currentColor;

					> div {
						position: absolute;

						&.Hover {
							opacity: 0;
							font-size: 2em;
						}

						transition: opacity $ft;
					}
				}

				&:hover > .Color {
					border-width: 4px;

					> div {
						opacity: 0;

						&.Hover {
							opacity: 1;
						}
					}
				}

				&:active > .Color {
					transform: scale(0.7);
				}
			}

			.Color {
				width: 100%;
				height: 100%;

				border-radius: 500px;

				display: flex;
				align-items: center;
				justify-content: center;

				color: white;
				text-transform: uppercase;
			}

			.Hex {
				padding: 10px;
				padding-bottom: 5px;
			}
		}
	}
}
